<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureKeyVaultURL" value=""/>
    <add key="AzureKeyVaultTenantId" value=""/>
    <add key="AzureKeyVaultClientId" value=""/>
    <add key="AzureKeyVaultClientSecret" value=""/>
    <add key="AzureKeyVaultCertificate" value=""/>
  </appSettings>
</configuration>